@charset "UTF-8"; /*Evita problemas com caracteres especiais */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Importando uma fonte do Google Fonts*/

* {
    font-family: Montserrat, Arial, Helvetica, sans-serif; /*CSS Web Safe Fonts. Primeiro vai buscar Arial, se não tiver, busca Helvetica, senão, busca uma sem serifa qualquer que tenha no dispositivo*/
}

html {
  scroll-behavior: smooth;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

td {
    padding: 0;
}

td img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

.special {
    background-color: yellow;
}